<!DOCTYPE html>
<html lang="en">
<head>
<title>Resume</title>
<link rel="stylesheet" href="{{url_for('static', filename='stylesheets/style.css')}}" type="text/css">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="resume-main">
	<div class="left-box">
		<br><br>
		<div class="profile">
			<img src="image/profile.jpg">
		</div>
		<div class="content-box">
		<h2>Oliver Schwab</h2>
		<hr class="hr1">
		<p class="p1">A second year software engineer at Soth Dakota School of Mines and Technology.
             I am an aspiring data engineer looking for an intership for the summer of 2023.</p>

		<h3>Languages:</h3>
		<p class="p2">English</p>
		<div id="progress"></div>

		<br><br>
		<h2>My Skills</h2>
		<hr class="hr1">
		<br>
		<div class="col-div-6"><p class="p2">Python</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">C++</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
			<i class="fa fa-circle circle1"></i>
		</div>
			<div class="clearfix"></div>
		<div class="col-div-6"><p class="p2">Java</p></div>
		<div class="col-div-6">
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle"></i>
			<i class="fa fa-circle circle1"></i>
			<i class="fa fa-circle circle1"></i>
			<i class="fa fa-circle circle1"></i>
		</div>


			<div class="clearfix"></div>
			<br>
			<h2>extracurricular activities</h2>
			<hr class="hr1">
			<br>
			<div class="col-div-3 col3">
				<i class="fa fa-futbol-o in"></i>
				<span class="inp">First Robotics</span>
			</div>
			<div class="col-div-3 col3">
				<i class="fa fa-futbol-o in"></i>
				<span class="inp">Programming Team</span>
			</div>
		</div>
	</div>

	<div class="right-box">
		<h1>
			Oliver<br>
			<span>Schwab</span>
		</h1>
		<p class="p3">Software Engineer</p>

		<br>	
		<h2 class="heading">Work Experience</h2>
		<hr class="hr2">
		<br>
		<div class="col-div-4">
			<p class="p5">2018 - 2022</p>
			<span class="span1">Fort Bar and Grill</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Dishwasher</p>
			<span class="span1"></span>
		</div>
		<div class="clearfix"></div>
		<br>
		<div class="col-div-4">
			<p class="p5">2020-2022</p>
			<span class="span1">Mauers Lakeside Service</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Lawncare Technician</p>
			<span class="span1"></span>
		</div>
		<div class="clearfix"></div>
		<br>
		<div class="col-div-4">
			<p class="p5">2022</p>
			<span class="span1">Rafferys Pizza</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Pizza Delivery Driver</p>
			<span class="span1"></span>
		</div>
		<div class="clearfix"></div>

		<br>	
		<h2 class="heading">My Education</h2>
		<hr class="hr2">
		<br>
		<div class="col-div-4">
			<p class="p5">2021 - Current</p>
			<span class="span1">South Dakota School of Mines</span>
		</div>
		<div class="col-div-8">
			<p class="p5">Pursuing Software Engineering</p>
			<span class="span1">
                Currently a sophmore at SDSMT expected to graduate in 2025. Maintaining a 3.5GPA.<br>
                Currently completed courses 215 Programming Techniques, Calculus 3, and Finite Structures (Discrete Mathmatics).<br>
                Expected to complete courses 315 (Data Structures and Algorithims), 320 (Risk Asembley), and 340 (Software Engineering and Design) 
                in the spring semester of 2023
            </span>
		</div>
		<div class="clearfix"></div>
		<br>
		<div class="col-div-4">
			<p class="p5">2017-2021</p>
			<span class="span1">Brainerd High School</span>
		</div>
		<div class="col-div-8">
			<p class="p5">High School</p>
			<span class="span1">Graduated with a 3.7 Gpa</span>
		</div>
		<div class="clearfix"></div>
	</div>
	<div class="clearfix"></div>

</div>

</body>
</html>
